/* AuthModal.module.css */

.LeftModalContent {
  background-color: #ffffff; /* White background */
  animation: slideFromRight 0.3s ease forwards; /* Slide animation */
}

.RightModalContent {
  background-color: #ffffff; /* White background */
  animation: slideFromLeft 0.3s ease forwards; /* Slide animation */
}

.RegisterSplashRight {
  background: linear-gradient(to top left, #2196F3, #1565C0); /* Diagonal gradient from bottom right to top left */
  animation: slideFromRight 0.3s ease forwards; /* Slide animation */
}

.SignInSplashLeft {
  background: linear-gradient(to top right, #2196F3, #1565C0); /* Diagonal gradient from bottom left to top right */
  animation: slideFromLeft 0.3s ease forwards; /* Slide animation */
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
